body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    margin: 10;
    padding: 10;
    margin: 10 auto;
    background-color: rgb(221, 233, 251);

}

.botao {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #4CAF50;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: .4s;
}

.botao:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}